/* CSS file */

@font-face
{
	src:					url("../assets/fonts/Framd.TTF");
	fontFamily: 			franklin1;
	/* font-anti-alias-type: 	advanced; */
	font-weight: 			normal;
}


@font-face
{
	src:					url("../assets/fonts/FRABK.TTF");
	fontFamily: 			franklin;
	/* font-anti-alias-type: 	advanced; */
	font-weight: 			normal;
}

.mainApplicationStyle{
	font-family: 				franklin;
	font-size: 					11;
	color: 						#333333;
	background-gradient-alphas: 0, 0;
	background-color: 			#666666;
	theme-color: 				#333333;
	font-weight:				normal;
	background-image:			Embed("/assets/general/fondo5.jpg");
	background-size:			"100%";
	modal-transparency-color:	#000000;
	modal-transparency-blur:	2;
}

.controlPanelStyle{
	corner-radius: 20;
	bottom: 0;
	vertical-gap: 0;
	border-style:			solid;
	background-color:		#EFEFEF;
	font-family: 			franklin;
	font-weight: 			normal;
	background-size: 		"100%";
	
	title-style-name:		"titlePanel";
	shadow-direction:		90;
	shadow-distance:		1;
}

.titlePanel{
	font-family:	franklin1;
	font-weight:	normal;
	font-size:		14;
	color:			#333333;
}

.dataPanelStyle{
	resize-grip-skin:       Embed(source="/assets/icons/resizeHandler.png");
	
	vertical-gap:           0;
	background-color:		#EFEFEF;
	font-family: 			franklin;
	font-weight: 			normal;
	background-size: 		"100%";
	
	shadow-direction:		90;
	shadow-distance:		2;
	roundedBottomCorners: true; 
	border-alpha: 		0.75;
	border-color: 		#A0A3A3;
	
	title-style-name:		"titleDataPanel";
    close-button-style-name:	"closeButtonStyle";
    minimize-button-style-name:	"minimizeButtonStyle";
    maximize-button-style-name:	"maximizeButtonStyle";
    
    inactive-border-alpha: 0.2;
   	inactive-shadow-distance:	0;
	inactive-title-style-name:	"inactiveTitleDataPanel";
}

.titleDataPanel{
	font-family:	franklin1;
	font-weight:	normal;
	font-size:		12;
	color:			#FFFFFF;
}

.inactiveTitleDataPanel
{
	font-family:	franklin1;
	font-weight:	normal;
	font-size:		12;
	color:			#BBBBBB;
}

.closeButtonStyle{
	icon: 						Embed(source="/assets/icons/icon_close_up.png");
	up-icon: 					Embed(source="/assets/icons/icon_close_up.png");
	over-icon: 					Embed(source="/assets/icons/icon_close_over.png");
	down-icon: 					Embed(source="/assets/icons/icon_close_down.png");
	
	disabled-skin: 				Embed(source="/assets/skins/clear.png");
	selected-up-skin: 			Embed(source="/assets/skins/clear.png");
	selected-over-skin: 		Embed(source="/assets/skins/clear.png");
	selected-down-skin: 		Embed(source="/assets/skins/clear.png");
    down-skin: 					Embed(source="/assets/skins/clear.png");
    over-skin: 					Embed(source="/assets/skins/clear.png");
    up-skin: 					Embed(source="/assets/skins/clear.png");	
}

.minimizeButtonStyle{
	icon: 						Embed(source="/assets/icons/icon_minimize_up.png");
	up-icon: 					Embed(source="/assets/icons/icon_minimize_up.png");
	over-icon: 					Embed(source="/assets/icons/icon_minimize_over.png");
	down-icon: 					Embed(source="/assets/icons/icon_minimize_down.png");

	disabled-skin: 				Embed(source="/assets/skins/clear.png");
	selected-up-skin: 			Embed(source="/assets/skins/clear.png");
	selected-over-skin: 		Embed(source="/assets/skins/clear.png");
	selected-down-skin: 		Embed(source="/assets/skins/clear.png");
    down-skin: 					Embed(source="/assets/skins/clear.png");
    over-skin: 					Embed(source="/assets/skins/clear.png");
    up-skin: 					Embed(source="/assets/skins/clear.png");	
}

.maximizeButtonStyle{
	icon: 						Embed(source="/assets/icons/icon_expand_up.png");
	up-icon: 					Embed(source="/assets/icons/icon_expand_up.png");
	over-icon: 					Embed(source="/assets/icons/icon_expand_over.png");
	down-icon: 					Embed(source="/assets/icons/icon_expand_down.png");

	disabled-skin: 				Embed(source="/assets/skins/clear.png");
	selected-up-skin: 			Embed(source="/assets/skins/clear.png");
	selected-over-skin: 		Embed(source="/assets/skins/clear.png");
	selected-down-skin: 		Embed(source="/assets/skins/clear.png");
    down-skin: 					Embed(source="/assets/skins/clear.png");
    over-skin: 					Embed(source="/assets/skins/clear.png");
    up-skin: 					Embed(source="/assets/skins/clear.png");	
}

.titleBarStyle{
	left:	2; 
	top: 	0;
	horizontal-gap: 5;
	vertical-align: middle;
}

.menuBarStyle
{
    background-skin:	Embed("/assets/general/menu.png", scaleGridTop="4", scaleGridBottom="20", scaleGridLeft="5", scaleGridRight="13");
    background-size:	"100%";
    color:				#CCCCCC;
    disabledColor:		#CCCCCC;
    item-up-skin:		Embed("/assets/general/blanc.png");
    item-over-skin:		Embed("/assets/general/MenuItem1.png", scaleGridTop="5", scaleGridBottom="23", scaleGridLeft="5", scaleGridRight="8");
    item-down-skin:		Embed("/assets/general/MenuItem.png", scaleGridTop="5", scaleGridBottom="23", scaleGridLeft="5", scaleGridRight="8");
    horizontal-gap:		0;
    vertical-gap:		0;
    padding-bottom:		0;
    padding-left:		0;
    padding-right:		0;
    padding-top:		0;
    top:				27;
    right:				5; 
    left: 				5;
    font-family:		franklin1;
    font-size:			12;
    menu-style-name:	"menuStyle";
}

.menuStyle
{
    background-color:	#000000;
    font-family:		franklin;
    color:				#333333;
    font-weight:		normal;
    font-size:			11;
    border-color:		#333333;
    horizontal-gap:		0;
    vertical-gap:		0;
    padding-bottom:		0;
    padding-left:		0;
    padding-right:		0;
    padding-top:		0;
    text-align:			left;
    separator-skin:		Embed("/assets/general/separator.png");
}
