<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

<!--    <bean id="servicioTecnico" class="laboratorio.servicio.ServicioTecnicoImpl">-->
<!--    	<property name="tecnicoDAO" ref="tecnicoDAO"/>-->
<!--    	<property name="tecnicoCustomDAO" ref="tecnicoDAOIbatis" />-->
<!--    </bean>-->
    
</beans>