<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!--  Reporters (i.e. read-only DAOs) -->
	<bean id="reporter.Base.SqlMapClient" abstract="true"
		class="org.springframework.orm.ibatis.support.SqlMapClientDaoSupport">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>


	<!-- DAOs Ibatis -->
	<bean id="areaDAOIbatis" class="laboratorio.dao.AreaDAOImpl" 
		parent="reporter.Base.SqlMapClient" />
		
	<bean id="tecnicoDAOIbatis" class="laboratorio.dao.TecnicoDAOImpl" 
		parent="reporter.Base.SqlMapClient" />
		
	<bean id="practicaDAOIbatis" class="general.dao.PracticaDAOImpl" 
		parent="reporter.Base.SqlMapClient" />
		

	<!-- DAOs Hibernate -->
	<bean id="abstractRepository" abstract="true" class="general.dao.DAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="tecnicoDAO" parent="abstractRepository">
		<constructor-arg value="laboratorio.dominio.Tecnico"/>
	</bean>
	
	<bean id="tareaDAO" parent="abstractRepository">
		<constructor-arg value="laboratorio.dominio.tarea.Tarea"/>
	</bean>
	
	<bean id="areaDAO" parent="abstractRepository">
		<constructor-arg value="laboratorio.dominio.Area"/>
	</bean>
	
	<bean id="supervisorDAO" parent="abstractRepository">
		<constructor-arg value="laboratorio.dominio.Supervisor"/>
	</bean>
	
	<bean id="planDAO" parent="abstractRepository">
		<constructor-arg value="clinica.dominio.Plan"/>
	</bean>

	<bean id="pacienteDAO" parent="abstractRepository">
		<constructor-arg value="clinica.dominio.paciente.Paciente"/>
	</bean>

	<bean id="medicoDAO" parent="abstractRepository">
		<constructor-arg value="clinica.dominio.Medico"/>
	</bean>
	
	<bean id="practicaDAO" parent="abstractRepository">
		<constructor-arg value="general.dominio.Practica"/>
	</bean>

	<bean id="ordenMedicaDAO" parent="abstractRepository">
		<constructor-arg value="clinica.dominio.OrdenMedica"/>
	</bean>

	<bean id="prestacionDAO" parent="abstractRepository">
		<constructor-arg value="clinica.dominio.Prestacion"/>
	</bean>
		
	<bean id="reglaDAO" parent="abstractRepository">
		<constructor-arg value="clinica.dominio.reglas.Regla"/>
	</bean>
	
	<bean id="coberturaDAO" parent="abstractRepository">
		<constructor-arg value="clinica.dominio.Cobertura"/>
	</bean>
</beans>
