/* CSS file */
/* @font-face
{
	src:					url("../assets/fonts/Framd.TTF");
	fontFamily: 			franklin1;
	font-anti-alias-type: 	advanced;
	font-weight: 			normal;
}


@font-face
{
	src:					url("../assets/fonts/FRABK.TTF");
	fontFamily: 			franklin;
	font-anti-alias-type: 	advanced;
	font-weight: 			normal;
} */

.boxStyle{
	backgroundColor: #EFEFEF;
}

.controlPanelStyle{
	corner-radius: 			20;
	border-style:			solid;
	background-color:		#EFEFEF;
	font-family: 			franklin;
	font-weight: 			normal;
	background-size: 		"100%";
	
	title-style-name:		"titlePanel";
	shadow-direction:		90;
	shadow-distance:		1;
}

.titlePanel{
	font-family:	franklin1;
	font-weight:	normal;
	font-size:		14;
	color:			#333333;
}

.tabNavigatorStyle
{
	tab-offset:                     3;
	horizontal-gap: 				1;
	font-family:					franklin1;
	font-size:						11;
	font-weight:					normal;
	border-color:					#cbcbcb;
	color:							#333333;
	text-align:						left;
	tab-style-name:					"tabNavigatorTab";
	selected-tab-text-style-name:	"tabNavigatorSelectedText";
}

.tabNavigatorTab
{
 	up-skin:			Embed("/assets/botones/TabNavigator1.png", scaleGridTop="5", scaleGridBottom="18", scaleGridLeft="5", scaleGridRight="12");
	over-skin:			Embed("/assets/botones/TabNavigator2.png", scaleGridTop="5", scaleGridBottom="18", scaleGridLeft="5", scaleGridRight="12");
	down-skin:			Embed("/assets/botones/TabNavigator.png", scaleGridTop="5", scaleGridBottom="18", scaleGridLeft="5", scaleGridRight="12");
	selected-up-skin:	Embed("/assets/botones/TabNavigator.png", scaleGridTop="5", scaleGridBottom="18", scaleGridLeft="5", scaleGridRight="12");
	selected-down-skin:	Embed("/assets/botones/TabNavigator.png", scaleGridTop="5", scaleGridBottom="18", scaleGridLeft="5", scaleGridRight="12");
	selected-over-skin:	Embed("/assets/botones/TabNavigator.png", scaleGridTop="5", scaleGridBottom="18", scaleGridLeft="5", scaleGridRight="12");
 	font-weight: 		normal;
	font-family:		franklin1;
	font-size:			11;
	color:				#666666;
	border-color: 		#c0c0c0;
	padding-top:		3;
	padding-left:		6;
	padding-right:		6;
	border-style:		none;
	border-thickness:	0;
}


.tabNavigatorSelectedText
{
	roll-over-color:	#333333;
	font-weight: 		normal;
	font-family:		franklin1;
	font-size:			11;
	color:				#333333;
	padding-top:		3;
	padding-left:		6;
	padding-right:		6;
}