/* CSS file */
.footNoteStyle{
	horizontal-align: right;
	vertical-gap: 0;
}

.footNoteWord{
	color: #FFFFFF;
	fontWeight: normal;
	leading: -3;
	font-anti-alias-type:advanced;
	font-family: franklin;
	font-size: 9;
}