/* CSS file */
@font-face
{
	fontFamily: Firefly;
	font-weight: normal;
	font-style: normal;
	src: url("../assets/fonts/FIREFLY_.TTF");
}

@font-face
{
	fontFamily: Finchley;
	fontWeight: normal;
	fontStyle: normal;
	src: url("../assets/fonts/FINCHLEY.TTF");
}

.title {
	font-anti-alias-type:normal;
	font-family: Firefly;
	font-size: 20;
	color: #FFFFFF;
	fontWeight: normal;
}

.subTitleWord{
	font-anti-alias-type:normal;
	font-family: Finchley;
	font-size: 12;
	color: #FFFFFF;
	fontWeight: normal;
}
