body {
	margin:0;
}

div#abovePageFooter {
	position:fixed;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	width:100%;
	height:81px;
	bottom:0; /* stick to bottom */
}