/* Comienzo de reseteo de estilos */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

img,body,html {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

q:before,q:after {
	content: '';
}

img[alt] {
	color: #87e1b5;
	font-size: 0.8em;
}

a, button {outline:none;}

a {text-decoration:none;}
/* Fin de reseteo de estilos */

/* Arreglamos png para Internet Explorer */
img { behavior: url(../iepngfix.htc); border:none;}

html, body {
	width:100%;
	height:100%;
}

body {
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* Elimina la barra horizontal */
	overflow-x: hidden;		
}

a {
	color:#000;
	border-bottom:1px dotted #ccc;
}
a:hover {
	color:#fff;
	border-bottom:1px solid #fff;
}

div#pageContainer {
	position:inherit; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:100%;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

div#pageHeader {
	background-image: url('../images/menubot_fondo.png');
	background-repeat: repeat;
	height: 15px;
	width: 100%;
	position: fixed;
}

/***********************/
/* COMMON TABLE STYLES */
/***********************/
div.tablaBase table {
	border-collapse:collapse;
	padding:.9em;
	border:solid 2px #241;
	background:#f8f7f5;
	margin:0 auto 2em auto;
	min-width:30em;
}

div.tablaBase table thead th {
	padding:1em;
	text-transform:capitalize;
	font-weight:bold;
}

div.tablaBase table thead tr.navigation td div {
	padding:.5em;
	font-size:.7em;
	font-weight:bold;
}

div.tablaBase table thead th {
	background:#dcd4cc;
	text-align:center;
	font-size:.7em;
}

div.tablaBase table thead a, div.tablaBase table tbody td a {
	border-bottom:1px dotted #ccc;
	color:#000;
}

div.tablaBase table thead a:hover, div.tablaBase table tbody td a:hover {
	border-bottom:1px solid #fff;
	color:#71BD43;
}

div.tablaBase table tbody td div.actionPanel {
	text-align:center;
	white-space:nowrap;
}

div.tablaBase table tbody td {
	padding:.2em 1em;
	cursor:default;
	font-size:.8em;
	text-align: center;
	border-top:1px #130 solid;
}

div.tablaBase table tbody tr.even td {
	background:#fdfdfd;
}

div.tablaBase table tbody td img {
	width:16px;
	height:16px;
	border:none;
	margin:0 .3em;
}

span#feedback ul li span {
			margin-left:30px;
		}

li.feedbackPanelERROR {
	background:url(../images/icons/error2.png) left no-repeat;
	margin-left:20px;
}

li.feedbackPanelINFO {
	background:url(../images/icons/error2.png) left no-repeat;
	margin-left:20px;
}

span.feedbackPanelERROR {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
	font-weight: bold;
	padding-left:20px;
}

span.feedbackPanelINFO {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000 ;
	font-weight: bold;
	padding-left:20px;
	vertical-align: middle;
}

