.calendar_mes {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #37879B;
	padding-left: 5px;
	font-weight: bold;
	height: 16px;
}
.calendar_titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #37879B;
	background-color: #FFFFFF;
	font-weight: bold;
}
.calendar_titulo a:link {
	color: #37879B;
}
.calendar_titulo a:visited {
	color: #37879B;
}
.calendar_titulo a:active {
	color: #37879B;
}
.calendar_titulo a:hover {
	color: #2B6979;
}
.calendar_enc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #7E7461;
	background-color: #E7E0DA;
	padding: 2px 5px;
}
.calendar_dias {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #7E7461;
	text-align: center;
	height: 18px;
}
.calendar_dias a:link {
	color: #7E7461;
}
.calendar_dias a:visited {
	color: #7E7461;
}
.calendar_dias a:active {
	color: #7E7461;
}
.calendar_dias a:hover {
	color: #EC9900;
}
.calendar_select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}
.calendar_select a:link {
	color: #FF0000;
}
.calendar_select a:visited {
	color: #FF0000;
}
.calendar_select a:active {
	color: #FF0000;
}
.calendar_select a:hover {
	color: #990000;
}
body {
	background-image: url(../images/fondo.gif);
}
.style1 {color: #FAF9F8}
