/******************************************************************************************/
/*     HOJA DE ESTILOS PARA EL DESARROLLO DE APLICATIVOS DE INTRANET    INDICE GENERAL    */
/******************************************************************************************/

/*PROPIEDADES POR DEFECTO*/
/*LINKS*/
/*OBJETOS - (TEXTBOX, BUTON, COMBOBOX, TEXTAREA, ETC)*/
/*EFECTOS VARIOS*/

/*1)   PANTALLAS DE VISUALIZACION, CARGA, LISTADOS - CON MUCHOS CAMPOS (Tipografias Chicas)*/

	/*FUERA DE TABLAS - (TITULOS, TEXTOS, ETC)*/
	/*TABLAS- (TITULOS, TEXTOS, BORDES, ETC)*/
	
/*2)   PANTALLAS DE VISUALIZACION, CARGA, LISTADOS - CON POCOS CAMPOS (Tipografias medianas)*/

	/*FUERA DE TABLAS - (TITULOS, TEXTOS, ETC)*/
	/*TABLAS- (TITULOS, TEXTOS, BORDES, ETC)*/


/******************************************************************************************/
/******************************************************************************************/


/*************************/
/*PROPIEDADES POR DEFECTO*/
/*************************/

	/*Formato del cuerpo de la pagina si no se apBODY 
		{
			font-family:Arial,Verdana; 
			font-size:12px; 
			color:#003C5A; 
			background-color:#FFFFFF; 
			margin-left:10px; 
			margin-top:10px;
			scrollbar-face-color: #3366cc; 
			scrollbar-shadow-color: darkblue; 
			scrollbar-highlight-color: lightblue; 
			scrollbar-3dlight-color: #335997; 
			scrollbar-darkshadow-color: #336699; 
			scrollbar-track-color: #6699DD; 
			scrollbar-arrow-color: #FFFFCE
		}

/*******/
/*LINKS*/
/*******/

/*Propiedades de los links*/
A:link 
		{
			text-decoration:underline; 
			color:#003366
		} 

/*Propiedades de los links una ves visitados*/
A:visited 
		{
			text-decoration:underline; 
			color:#003366
		} 

/*Propiedades de los links al rollover (mouse sobre el link)*/
A:hover 
		{
			text-decoration:underline; 
			color:blue
		} 

/*Propiedades del link cuando esta activado*/
A:active 
		{
			text-decoration:none; 
			color:#0066FF
		}

/*****************************************************/
/*OBJETOS - (TEXTBOX, BUTON, COMBOBOX, TEXTAREA, ETC)*/
/*****************************************************/
	
	/*Formato del Combo-box oscuro*/
	.comboOscuro
		{
			font-family:tahoma,sans-serif;
			font-size:12px;background: #D6E7EF;
			border-bottom: 1px solid #104A7B;
			border-right: 1px solid #104A7B;
			border-left: 1px solid #AFC4D5;
			border-top:1px solid #AFC4D5;
			color:#000066;text-decoration:none;
			cursor: hand;
		}

	/*Formato del Combo-box claro*/
	.comboClaro
		{
			font-family:tahoma,sans-serif;
			font-size:12px;
			background: #FFFFFFF;
			border-bottom: 1px solid #104A7B;
			border-right: 1px solid #104A7B;
			border-left: 1px solid #AFC4D5;
			border-top:1px solid #AFC4D5;
			color:#000066;
			text-decoration:none;
			cursor: hand;
				
		}

	/*Formato de los textbox*/
	.textbox
		{
			font-family:tahoma,sans-serif;
			font-size:12px;
			background: #FFFFFF;
			border-bottom: 1px solid #104A7B;
			border-right: 1px solid #104A7B;
			border-left: 1px solid #AFC4D5;
			border-top:1px solid #AFC4D5;
			color:#000066;
			text-decoration:none;
		}

	/*Formato de los radio buttons*/
	.radio
		{
			font-family:tahoma,sans-serif;font-size:12px;
			background: #FFFFFF;
			border-bottom: 0px solid #104A7B;
			border-right: 0px solid #104A7B;
			border-left: 0px solid #AFC4D5;
			border-top:0px solid #AFC4D5;
			color:#000066;
			text-decoration:none;
		}

	/*Formato del los checkbox*/
	.checkbox
		{
			font-family:tahoma,sans-serif;
			font-size:12px;
			background: #FFFFFF;
			border-bottom: 0px solid #104A7B;
			border-right: 0px solid #104A7B;
			border-left: 0px solid #AFC4D5;
			border-top:0px solid #AFC4D5; 
			color:#000066;
			text-decoration:none;
		}

	/*Formato del TextArea*/
	.textarea
		{
			font-family:tahoma,sans-serif;
			font-size:12px;
			background: #FFFFFF;
			border-bottom: 1px solid #104A7B;
			border-right: 1px solid #104A7B;
			border-left: 1px solid #AFC4D5;
			border-top:1px solid #AFC4D5; 
			color:#000066;
			text-decoration:none;
		}	

	/*Formato del Boton - claro*/
	.botonClaro 
		{
			font-family : tahoma,sans-serif;
			font-size:12px;
			background: #ffffff;
			border-bottom: 1px solid #104A7B;
			border-right: 1px solid #104A7B;
			border-left: 1px solid #AFC4D5;
			border-top:1px solid #AFC4D5; 
			color:#000066;
			text-decoration:none;
			cursor: hand;
		}
		
	/*Formato del Boton - oscuro*/
	.botonOscuro 
		{
			font-family : tahoma,sans-serif;
			font-size:12px;
			background: #D6E7EF;
			border-bottom: 1px solid #104A7B;
			border-right: 1px solid #104A7B;
			border-left: 1px solid #AFC4D5;
			border-top:1px solid #AFC4D5; 
			color:#000066;
			text-decoration:none;
			cursor: hand;
		}
				
	/*Formato del Boton Grilla - Para consultar diferentes detalles de un mismo registro*/			
	.botonGrilla
		{
			BACKGROUND: #d6e7ef;
			BORDER-BOTTOM: #104a7b 1px solid;
			BORDER-LEFT: #afc4d5 1px solid;
			BORDER-RIGHT: #104a7b 1px solid;
			BORDER-TOP: #afc4d5 1px solid;
			COLOR: #000066;
			CURSOR: hand;
			FONT-FAMILY: Verdana, tahoma, arial, sans-serif;
			FONT-SIZE: 10px;
			TEXT-DECORATION: none
		}

/****************/
/*EFECTOS VARIOS*/
/****************/

	/*Esta propiedad cambia el puntero del mouse (flecha) por un puntero en forma de mano*/
	.cursorOver  
		{	
			cursor : hand; 
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 8pt; 
			color: #003366 
		}



/*******************************************************************************************/
/*1)   PANTALLAS DE VISUALIZACION, CARGA, LISTADOS - CON MUCHOS CAMPOS (Tipografias Chicas)*/
/*******************************************************************************************/


/******************************************/
/*FUERA DE TABLAS - (TITULOS, TEXTOS, ETC)*/
/******************************************/

	/*Propiedades de los Titulos principales */
	.titulo1 
		{  
		   font-family: Arial, Helvetica, sans-serif; 
		   font-size: 11pt;
		   font-style: normal;
		   line-height: normal; 
		   font-weight: bold; 
		   color: #003366
		}

	/*Propiedades de los textos en general 1, (medio oscuro), ej descrip, aclaraciones, nombres de campos, etc*/
	.textoClaro1
		{ 
	 		font-family: Arial, Helvetica, sans-serif; 
			font-size: 8pt; 
			font-style: normal; 
			line-height: normal; 
			font-weight: normal; 
			color: #003366
		}

	/*Propiedades de los textos en general 2 (oscuro), ej descripciones, aclaraciones, etc*/
	.textoOscuro1 
		{  
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 8pt; 
			font-style: normal; 
			line-height: normal; 
			font-weight: normal; 
			color: #000000
		}

	/*Propiedades de los textos en general resaltados, (medio oscuro bold), ej descrip, aclaraciones, nombres de campo, etc*/
	.textoClaro1Bold 
		{  
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 8pt; 
			font-style: normal; 
			line-height: normal; 
			font-weight: bold; 
			color: #003366
		}

/****************************************/
/*TABLAS- (TITULOS, TEXTOS, BORDES, ETC)*/
/****************************************/

	/*Propiedades de tablas claras, utilizadas para mostrar información especifica, ej: el cuerpo de la noticia, del comunicado, los datos de un usuario, los datos de una filial, etc. */
	.tablaClara1
		{ 
			WIDTH: 95%;
			MARGIN: 2px;
			PADDING-BOTTOM: 0px;
			PADDING-LEFT: 0px;
			PADDING-RIGHT: 0px;
			PADDING-TOP: 0px
		}
	
	/*Automaticamente al darle TablesAzules se refleja la tipografía y el color del fondo que van a tener las columnas de las tablas*/
	.tablaClara1 TD 
		{ 
			font-family:Arial,Verdana; 
			font-size:10px; 
			color:#003C5A; 
			background-color:#E7F1F6;
		}

	/*Esto se debe aplicar para los titulos dentro de la tabla, implica la letra en negrita y un fondo mas oscuro*/
	.tituloTablaClara1 TD
		{
			font-Weight:bold;
			background-color:#B6CEE7;
			color:#404040;
		}

	 /*El fondo de la tabla se utiliza para cerrarla con una linea oscura, se debe aplicar a la utltima columna de la tabla*/
	.pieTablaClara1 TD
		{
			background-color:#77929F;
			height:3
		}

	/*Propiedades de tablas oscuras, utilizadas para mostrar información no especifica, ej: listados de noticias, comunicados, usuarios, filiales, etc. */
	.tablaOscura1
		{ 
			WIDTH: 95%;
			MARGIN: 2px;
			PADDING-BOTTOM: 0px;
			PADDING-LEFT: 0px;
			PADDING-RIGHT: 0px;
			PADDING-TOP: 0px
		}

	/*Automaticamente al darle TablesGrises se refleja la tipografía y el color del fondo que van a tener las columnas de las tablas*/
	.tablaOscura1 TD 
		{ 
			font-family:Arial,Verdana; 
			font-size:10px; 
			color:#003C80; 
			background-color:#F4F4F4;
		}

	/*Esto se debe aplicar para los titulos dentro de la tabla, implica la letra en negrita y un fondo mas oscuro*/
	.tituloTablaOscura1 TD
		{
			font-Weight:bold;
			color:#0040A0;
			background-color:#D0D0D0;
		}
	
	 /*El fondo de la tabla se utiliza para cerrarla con una linea oscura, se debe aplicar a la utltima columna de la tabla*/
	.pieTablaOscura1 TD
		{
			background-color:#808080;
			height:3
		}

	/*Propiedades de tablas específicas para utilizar solo en carga de datos */
	.tablaABM1
		{ 
			WIDTH: 98%;
			MARGIN: 3px;
			PADDING-BOTTOM: 0px;
			PADDING-LEFT: 0px;
			PADDING-RIGHT: 0px;
			PADDING-TOP: 0px
		}
	
	/*Propiedades de la columna impar */
	.columnaTablaABMImpar1	
		{ 
			font-family:Arial,Verdana; 
			font-size:10px; 
			color:#003C5A; 
			background-color : #ffffff; 
		}
								
	/*Propiedades de la columna par */							
	.columnaTablaABMPar1	
		{ 
			background-color : #f1f8fe; 
			font-family:Arial,Verdana; 
			font-size:10px; 
			color:#003C5A; 
		}

/*******************************************************************************************/
/*2)   PANTALLAS DE VISUALIZACION, CARGA, LISTADOS - CON POCOS CAMPOS (Tipografias medianas)*/
/*******************************************************************************************/

/******************************************/
/*FUERA DE TABLAS - (TITULOS, TEXTOS, ETC)*/
/******************************************/

	/*Propiedades de los Titulos principales */
	.titulo2 
		{  
		   font-family: Arial, Helvetica, sans-serif; 
		   font-size: 13pt;
		   font-style: normal;
		   line-height: normal; 
		   font-weight: bold; 
		   color: #003366
		}

	/*Propiedades de los textos en general 1, (medio oscuro), ej descrip, aclaraciones, etc*/
	.textoClaro2 
		{  
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt; 
			font-style: normal; 
			line-height: normal; 
			color: #003366
		}

	/*Propiedades de los textos en general 2 (oscuro), ej descripciones, aclaraciones, etc*/
	.textoOscuro2 
		{ 
	 		font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt; 
			font-style: normal; 
			line-height: normal; 
			color: #000000
		}

	/*Propiedades de los textos en general resaltados, (medio oscuro bold), ej descrip, aclaraciones, etc*/
	.textoClaro2Bold 
		{  
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 10pt; 
			font-style: normal; 
			line-height: normal; 
			font-weight: bold;
			color: #003366
		}

/****************************************/
/*TABLAS- (TITULOS, TEXTOS, BORDES, ETC)*/
/****************************************/

	/*Propiedades de tablas claras, utilizadas para mostrar información especifica, ej: el cuerpo de la noticia, del comunicado, los datos de un usuario, los datos de una filial, etc. */
	.tablaClara2
		{ 
			WIDTH: 95%;
			MARGIN: 3px;
			PADDING-BOTTOM: 0px;
			PADDING-LEFT: 0px;
			PADDING-RIGHT: 0px;
			PADDING-TOP: 0px
		}
	
	/*Automaticamente al darle TablesAzules se refleja la tipografía y el color del fondo que van a tener las columnas de las tablas*/
	.tablaClara2 TD 
		{ 
			font-family:Arial,Verdana; 
			font-size:12px; 
			color:#003C5A; 
			background-color:#E7F1F6;
		}

	/*Esto se debe aplicar para los titulos dentro de la tabla, implica la letra en negrita y un fondo mas oscuro*/
	.tituloTablaClara2 TD
		{
			font-Weight:bold;
			background-color:#B6CEE7;
			color:#404040;
		}

	 /*El fondo de la tabla se utiliza para cerrarla con una linea oscura, se debe aplicar a la utltima columna de la tabla*/
	.pieTablaClara2 TD
		{
			background-color:#77929F;
			height:4
		}

	/*Propiedades de tablas oscuras, utilizadas para mostrar información no especifica, ej: listados de noticias, comunicados, usuarios, filiales, etc. */
	.tablaOscura2
		{ 
			WIDTH: 95%;
			MARGIN: 3px;
			PADDING-BOTTOM: 0px;
			PADDING-LEFT: 0px;
			PADDING-RIGHT: 0px;
			PADDING-TOP: 0px
		}

	/*Automaticamente al darle TablesGrises se refleja la tipografía y el color del fondo que van a tener las columnas de las tablas*/
	.tablaOscura2 TD 
		{ 
			font-family:Arial,Verdana; 
			font-size:12px; 
			color:#003C80; 
			background-color:#F4F4F4;
		}

	/*Esto se debe aplicar para los titulos dentro de la tabla, implica la letra en negrita y un fondo mas oscuro*/
	.tituloTablaOscura2 TD
		{
			font-Weight:bold;
			color:#0040A0;
			background-color:#D0D0D0;
		}
	
	 /*El fondo de la tabla se utiliza para cerrarla con una linea oscura, se debe aplicar a la utltima columna de la tabla*/
	.pieTablaOscura2 TD
		{
			background-color:#808080;
			height:4
		}

	/*Propiedades de tablas específicas para utilizar solo en carga de datos */
	.tablaABM2
		{ 
			WIDTH: 98%;
			MARGIN: 3px;
			PADDING-BOTTOM: 0px;
			PADDING-LEFT: 0px;
			PADDING-RIGHT: 0px;
			PADDING-TOP: 0px
		}
	
	/*Propiedades de la columna impar */
	.columnaTablaABMImpar2	
		{ 
			font-family:Arial,Verdana; 
			font-size:12px; 
			color:#003C5A; 
			background-color : #ffffff; 
		}
								
	/*Propiedades de la columna par */							
	.columnaTablaABMPar2	
		{ 
			font-family:Arial,Verdana; 
			font-size:12px; 
			color:#003C5A; 
			background-color : #f1f8fe; 
		}
		
	
/****************************************/
/*SUBMENU- */
/****************************************/	
					
	.BackSubMenu
		{ 
			background-color : #D0D0D0; 
		}
